#svg {
    display: block;
    margin: auto;
}

body {
    background-color: #fdf6ee;
}

#tooltip {
    position: absolute;
	display: inline-block;
	font-family: "Poppins", sans-serif;
    color: #111;
    font-size: 10px;
    text-align: left;
    background: #eaeaf5;
    /* box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.25); */
    pointer-events: cursor;
    line-height: 200%;
    max-width: 250px;
    opacity: 0;
	z-index: 999;
	border-radius: 10px;
	border: 1px inset #1b0180;
}

#tip-header {
	text-align: center;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	color: #1b0180;
	font-weight: 20;
	margin: 0;
}

#tip-header h1 {
    font-size: 12px !important;
      padding: 0 !important;
      margin: 0 !important;
}

#tip-header p {
    margin: 0;
    color: #000000;
    text-align: right;
}


.cta{
	text-align: center
}

.cta:before {
	margin-right: 10px;
	content: "\f0a6";
	font-family: FontAwesome !important;
  	font-size: 10px;
}

.cta-2{
	text-align: center
}

.cta-2:before {
	margin-right: 10px;
	font-family: FontAwesome !important;
  	font-size: 10px;
}

/*--------Footer--------*/
footer:before {
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	margin: 30px auto 25px auto;
}

#landing-footer,
#landing-footer p,
#landing-footer a {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #999;
	text-align: center !important;
}

footer:before {
	background: #0d0344;
}
  