body {
  /* background-color: #fdf6ee !important; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px !important;
  margin: 1em auto 4em auto !important;   /* margin: 1em auto 4em auto; */
  position: relative !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg text {
  text-shadow: 2px 2px #fff, 2px -2px #fff, -2px 2px #fff, -2px -2px #fff;
}

.cells path {
  fill: none;
  pointer-events: all;
}

h3 {
  font-size: 14px !important;
  text-align: center !important;
}

body div .title {
  border: 1.5px solid #1b0180;
  padding: .15rem .5rem;
  border-radius: 5px;
  width: 800px !important;
  font-size: 12px !important;
}

h1 ~ div .title {
  font-size: small;
  right: 0;
  position: absolute;
  padding: .15rem .5rem;
  
}

.cells :hover circle {
  fill: #1b0180;
}

.axis .domain {
  display: none;
}

.axis .tick line {
  stroke: #ddd;
}

.median-line line {
  stroke: #1b0180;
}

.median-line text {
  fill: #1b0180;
}

.tooltip * {
  pointer-events: none;
}

.annotation-group * {
  pointer-events: none;
}

text.annotation-note-label {
  font-size: 1.2em;
  font-weight: bold;
}

text.annotation-note-title {
  font-weight: normal;
  text-transform: uppercase;
}

text.annotation-note-value {
  font-weight: normal;
  text-transform: uppercase;
}

/*--------Footer--------*/
footer:before {
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	margin: 30px auto 25px auto;
}

#landing-footer,
#landing-footer p,
#landing-footer a {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #999;
  text-align: center !important;
}

footer:before {
	background: #0d0344;
}